

/*sm device*/
@media(max-width:567px){
  /*Navbarr start */
    .i_search{
   
   
        width: 50%;
		z-index:99;
}
   .user{
    color: white;
    position: absolute;
   
	
    
}
.search, .ser-btn{
    color: white;
    background: none;
    
    
}
	 /*Navbarr end */
    .footer_nav ul li{
   
    float: none;
    border: none;
    font-size: 16px;
}
    .slider h1{
  
    font-size: 30pt !important;
        
}

.slider h2{
   
    font-size: 14pt !important;
}
}

 
/*sm device*/
@media(max-width:767px){
    
    .logo img{
        width: 30%;
    }
    
 /*Navbarr start */
  .user{
  
    left:0;
	right:0;
	margin:0 auto;
	padding-left:20%;
}
    
 .navbar-brand{
display:block;
   } 
   .s_margin{


float:left;

} 
.navbar-right{
position:relative;

   
}  
   .menu ul li a {
  padding-left: 15px !important;
       
}
 /*Navbarr end */   
 
    
    .news_time_hol{
        text-align: center;
    }
   .time_cir, .pull-right .text-center{
        margin: 0 auto;
       float: none;
    }
    
    .footer_nav {
   
    float: none;
    
}

.copy_right{
    font-size: 14px;
    float: none;
    text-align: center;
}
}



/*sm device*/
@media(max-width:991px){

 .menu_bar{ 
     margin: 10px 0;
    width: 100%;
    padding-left: -50%;

    }
    .menu{
    padding-left: 0%;
}
.navbar-right{
  top:5px;
}
    .slider h1{
  
    font-size: 60pt;
}

.slider h2{
   
    font-size: 30pt;
}
}
/*md device*/
@media (max-width:1199px){
   
}
/*lg device*/
@media(min-width:1200px){
     
}
